{% extends 'myapp/base.html' %}
{% block title %}Home{% endblock %}
{% block myhdg %}Hello World! {% endblock %}
{% block body_block %}
    {% if cat_list %}
        <h2>List of Categories</h2>
        <ol>
            {% for cat in cat_list %}
                <li><a href="{{ cat.id }}/">{{ cat.name }}</a></li>
            {% endfor %}
        </ol>
    {% else %}
        <strong>There are no available categories!</strong>
    {% endif %}

    {#    <p><a href="/myApp/about">About page</a></p>#}
{% endblock %}